#nome-principal {
    display: inline;
    font-family: Impact;
    font-size: 60px;
    color: rgb(255, 233, 33);
    text-shadow:
        -1px -1px 0px #dab200,
        -1px 1px 0px #dab200,
        1px -1px 0px #dab200,
        1px 1px 0px #dab200;
    margin-left: 10px;
}

#menu {
    margin: -8px;
    background-color: black;
}

nav {
    display: inline;
    margin-left: 41%;
    vertical-align: 90%;

}

.link-menu {
    color: yellow;
    font-family: Verdana;
    font-size: 20px;
    margin-left: 3.5%;
    text-decoration: none;
}

a:hover {
    color: white;
}

.titulo {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 27px;
    font-weight: 700;
}

#imagem-home {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

#sobre-o-app {
    background-color: rgba(128, 128, 128, 0.048);
    display: inline-flex;
    margin: -8px;
}

#imagem-sobre-o-app {
    width: 600px;
    height: 100%;
}

#bem-vindo-youcine {
    display: flex;
    margin: -8px;
    margin-top: 8px;
    align-items: flex-end;
    flex-wrap: wrap;
}

#imagem-conheca-youcine {
    width: 300px;
    height: 300px;
    margin-left: 100px;
}

#bem-vindo {
    width: 60%;
    margin-left: 80px;
}

.textos-gerais {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    text-align: justify;
}

#como-comecou {
    width: 60%;
    margin-left: 80px;
    background-color: rgba(128, 128, 128, 0.048);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.imagem-generos {
    margin-top: 100px;
    text-align: center;
}

.descricao-generos {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    align-items: center;
}

.generos-2 {
    display: flex;
}

.descricao {
    font-size: 20px;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #c0c0c0;
    text-align: left;
    padding: 30px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#tabela-precos {
    margin-top: 50px;
}

#form-contato {
    margin-top: 70px;
    margin-left: 60px;
}